blinker==1.4
Flask==1.0.2
flask-uploads==0.2.1
flask-restplus==0.13.0
flask-mongoengine==0.9.5
Flask-WTF==0.14.2
sentry-sdk==0.4.3
sentry-sdk[flask]==0.6.6
flake8==3.7.9
pre-commit==1.20
pylint==2.4.4
pytest==5.3.1
uwsgi==2.0.17