<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='images/ico.ico') }}" type="image/x-icon"
        rel="icon">
    <link href="{{ url_for('static', filename='css/picbed.css') }}" rel="stylesheet">
    <title>{%block title %}picbed{% endblock %}</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar-collapse"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('image.index') }}">PicBed</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            {% block container %}
            {% endblock %}
        </div>
    </div>
    {% block scripts %}
    <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- <script src="{{ url_for('static', filename='js/jquery.js') }}"></script> -->
    <!-- <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/picbed.js') }}"></script>
    {% endblock %}
</body>
